*{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  z-index: 0;
  padding-top: 1px;
  background-color: rgb(36, 36, 36);
  
}

@keyframes entre-l {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes entre-r {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrow-swoosh{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@font-face {
  font-family: "Raskhal";
  src: url("../assets/fonts/Raskhal-r1e9.ttf");
}

@font-face {
  font-family: "Marker";
  src: url("../assets/fonts/PermanentMarker.ttf");
}


.underline-flame{
  width:60%;
  height: 11px;
  display: none;
  position: absolute;
  bottom: 25%;
  left: 20%;
  border-radius: 25%;
}

.floater:hover .underline-flame{
  display: block;
}

.embla {
    overflow: hidden;
    height: 400px;
  }

  .embla:hover{
    cursor: grab;
  }

  .embla.is-dragging{
    cursor:grabbing;
  }
  
  .embla__container {
    display: flex;
    will-change: transform;
    margin-left: -1rem;
    width: 90%;
  }
  
  .embla__slide {
    margin-top: 10px;
    position: relative; /* Needed if loop: true */
    flex: 0 0 100%; /*Choose any slide width*/
    color: black;
    height: 400px;
    width: 80%;
    padding-left: 1rem;
    border-radius: .7rem;
  }
  .embla__slide__inner {
    background-color: transparent;
    position: relative;
    border-radius: 0.7rem;
    min-height: 390px;
    font-size: 5rem;
    content: none;
    color: white;
    border: 1px solid silver;
    height: 390px;
  }

  .embla__viewport {
    width: 100%;
    overflow: hidden;

  }
  .embla2{
    overflow: hidden;
    width:100%;
    position: absolute;
    background: url('../assets/images/awards.jpeg');
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    left: 0;
  }


   .embla2 .embla__container {
    display: flex;
    will-change: transform;
  }

  .embla2 .embla__slide {
    flex: 0 0 50%;
    margin: 0;
    width: 100%;
    position: relative;
    margin-left: 1rem;
    counter-increment: embla;
    color: gray;
    height: 190px;
    background-color: rgb(36, 36, 36);
    border: 2px solid gold;
  }
  .embla2 .embla__slide__inner {
    border-radius: 0;
    position: relative;
    font-size: 5rem;
    content: none;
    height: 190px;
   } 

   /* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(30, 30, 30, 0.9);
  overflow: hidden;
  position: relative;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  z-index: 5;
  padding: 20px 0px;
  transition: 250ms background ease-in;
  font-family: 'Raskhal', cursive;
  
}
.sticky{
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

.sticky .floater{
  color: #111;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.topnav .floater{
  position: relative;
  left: 25%;
  margin: 0 4%;
}

#logo a {
  height: 100%;
  padding: 0;

}

#logo img{
  height:90px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: -0%;
  width: 150px;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.fuego{
  height: 1100px;
  background-image: url("../assets/images/pizza.jpeg");
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.landing{
  height: 600px;
  color: white;
  z-index: 1;
  overflow: hidden;
  font-family: 'Raskhal', cursive;
}

.landing-strip{
  position: absolute;
  height: 600px;
  width: 70%;
  z-index: 0;
}
.landing-text{
  background-size: cover;
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 1;
  background-color: rgba(30, 30, 30, 0.9);
}
.landing-text h1{
  position: relative;
  top: 40%;
  font-size: 3em;
  left: 30%;
  -webkit-animation-name: entre-l;
  -webkit-animation-duration: 3s;
  animation-name: entre-l;
  position: relative;
  z-index: 3;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 3s;
}

.landing-text .upper-text{
  left: 10%;
  font-size: 5em;
  -webkit-animation-name: entre-l;
  -webkit-animation-duration: 2s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-name: entre-l;
  animation-duration: 2s;
}

.landing .landing-img-container{
  position: relative;
  float: right;
  top: -70%;
  width: 50%;
  margin: 0;
  text-align: center;
  -webkit-animation-name: entre-r;
  -webkit-animation-duration: 2s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-name: entre-r;
  animation-duration: 2s;
}

.oven-container{
  position: relative;
  left: 30%;
  display: block;
}

.oven2{
  z-index: 0;
  position: absolute;
  display: block;
  left: 90px;
}

.oven3{
  z-index: 0;
  position: absolute;
  display: block;
  left: -90px;
}

.oven-main{
  position: absolute;
  display: block;
  z-index: 0;
  top: 20px;
}

.prod-gallery{
  height: 500px;
  background-size: cover;
}

.shader{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.prod-gallery h1{
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: rgba(20, 20, 20, 1);
  width: 100%;
  font-family: 'Raskhal', cursive;
}

.text-content{
  font-size: 20px;
  width: 100%;
  position: relative;
  background-color: rgba(20, 20, 20, 0.2);
  color: white;
  height: 100%;
  text-align: center;
  border-radius: 0.9em;
  transform: translateY(100%);
  transition: 500ms transform ease-in;
  z-index: 2;
  font-family: "Marker", sans-serif;
}

.drag-prompt{
  font-size: 2em;
  position: absolute;
  top: 32%;
  left: 50px;
  z-index: 3;
  color: white;
  font-family: "Raskhal",sans-serif;
  transition-duration: 2s;
}

.drag-arrow{
  height: 40px;
  width: auto;
  position: absolute;
  top: 33%;
  z-index: 3;
  left: 50px;
  -webkit-animation-name: arrow-swoosh;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: arrow-swoosh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-duration: 2s ;
}

.embla__slide__inner:hover .text-content{
  transform: translateY(70%);
}

.cooking{
  background: url('../assets/images/cooking.jpeg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: -100%;
  border-radius: 0.1em;
  z-index: 1;
}

.text-content h3{
  margin: 0;
  font-family: 'Raskhal', cursive;
  color: orange;
}

.techno{
  background: url('../assets/images/tech2.jpeg');
  height: 100%;
  background-size: cover;
  width: 100%;
  position: relative;
  top: -100%;
  border-radius: 0.1em;
}

.chefs{
  background: url('../assets/images/chefs.jpeg');
  height: 100%;
  background-size: cover;
  width: 100%;
  position: relative;
  top: -100%;
  border-radius: 0.1em;
}

.reasons{
  height: 1200px;
  background-color: #111;
}

.text-info{
  width: 39.5%;
  height: 100%;
  background: #111;
  border-right: 7px solid orange;
  color: white;
  
}

.text-info a{
  color: orange;
}

.text-info a:active{
  color: orangered;
}

.text-info h3{
  margin: 0;
  text-align: center;
  position: relative;
  top: 20%;
  font-size: 48px;
  font-family: 'Raskhal', cursive;
}

.text-info p{
  position: relative;
  font-size: 20px;
  top: 20%;
  text-align: center;
  margin:0;
  font-family: "Marker", sans-serif;  
}
.info-right,.info-left{
  height: 600px;
  font-family: "Marker", sans-serif;
  
}
.info-right .text-info {
  background: #111;
  float: right;
  border-left: 7px solid orange;
  border-right: none;
  
}

.info-left .info-img{
  background: url('../assets/images/slides.jpeg');
  width: 60%;
  height: 100%;
  background-size: cover;
  position: relative;
  left:40%;
  top: -100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 300ms transform cubic-bezier(1, 0, 0, 1);
  opacity: 1;
  z-index: 1;
}

.info-right .info-img{
  background: url('../assets/images/work.jpeg');
  width: 60%;
  height: 100%;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 300ms transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  opacity: 1;
}
.awards{
  background: white;
  height: 500px;
  text-align: center;
  width: 100%;
}

.awards h1{
  margin:0;
  width: initial;
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Raskhal', cursive;
  color: #111;
}

.award-text{
  position: relative;
  top: 25%;
  font-family: 'Marker', cursive;
  color: white;
}
.award-text h4{color:#999;}

footer{
  background-color: #111;
  height: 800px;
  position:relative;
  z-index: -2;
  width: 100%;
  top: -0%;
  text-align: center;
}

footer h3{
  font-size: 24px;
  font-family: 'Raskhal', cursive;
}

.main-content{
  position: relative;
  z-index: 1;
}

.panel{
  height: 500px;
  width: 50%;
  position: fixed;
  
}
.span12{
  float: left;
  bottom: 10%;
  left: 30%;
  z-index: -2;
  width: 80%;

}
.span3{
  width: 50%;
  bottom:10%;

}
.foot-nav li{
  text-align: left;
  list-style: none;
  width: 30%;
  height: 40px;
  padding-top: 20px;

}

.bot-bord{
  border-bottom: 1px solid white;
}
.foot-nav{
  margin-top: 35px;
}

.foot-nav a{
  text-decoration: none;
  color: white;
  font-family: "Marker", sans-serif;
}

.article-list{
  position: relative;
  width:40%;
  margin: 0;
  float: left;
  text-align: left;
  color: white;
}
.article-list li{
  list-style: none;
  text-align: left;
  background-color: #111;
  font-family: "Marker", sans-serif;
  color: white;
}
.article-list p{
  margin: 0;

}

.article-list img{
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.info-list{
  width: 50%;
  position: absolute;
  height: 400px;
  right: 10%;
  text-align: center;
  color: white;
  font-family: 'Marker', cursive;
}

.legal-links{
  margin-bottom: 10%;
  list-style: none;
  position: relative;
  padding: 0;
}

.social-links{
  margin-bottom: 10%;
  list-style: none;
  position: relative;
  padding: 0;
}

.company-info{
  margin-bottom: 10%;
  list-style: none;
  position: relative;
  padding: 0;
}


.copyright{
  color: white;
  background: black;
  width: 100%;
  position: fixed;
  bottom:0;
  text-align:left ;
  font-family: "Marker", sans-serif;
}

.copyright p{
  position: relative;
  top: 30%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .article-list img{
    position: relative;
    top: 5px;
    width: 25px;
    height: 25px;
    padding-right: 5px;
  }

  .text-content{
    font-size: 16px;
  }
}


@media screen and (max-width: 945px) {
  .oven-container{
    left: -10%;
  }

  .landing .landing-img-container{
   top: -60%;
  }

  .landing{
    height: 800px ;
  }

  .fuego{
    height: 1300px;
  }

  .landing-strip{
    position: absolute;
    height: 800px;
    width: 90%;
    z-index: 0;
  }
  .landing-text h1{
    top:15%;
    left: 40%;
  }

  .award-text{
  font-size: 12px;
  top: 25%;
  left: -3%;
}

  .article-list p{
  font-size: 12px;

  }
  .info-list{
    font-size: 12px;
  }

  .text-content{
    font-size: 18px;
    transform: translateY(0%) !important;
  }

  
  .text-content p{
    position: relative;
    top: 25%;
  }

  .text-content h3{
    position: relative;
    top: 25%;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 992px) {
  .topnavLinks a{
    display: none;
  }
  .topnav .icon {
    float: right;
    display: block;
  }

  .topnav .responsive a{
    position: absolute;
    display:block;
    right: 0;
    top: 0;
  }
  .topnav.sticky .icon{color:black;}
  .topnavLinks.responsive a {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .floater:hover .underline-flame{
    display: none;
  }


  .sticky .topnavLinks.responsive a {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .topnav .floater{
    position: relative;
    left: 0;
    margin:0;
  }

  .article-list p{
    font-size: 12px;
  }
  .info-list{
    font-size: 12px;
  }

  .landing-img-container{
    position: absolute;
    top:-60% !important;
    left: -25%;
    display: none;
  }

  .landing{
    height: 600px ;
  }

  .landing-strip{
    position: absolute;
    height: 600px;
    width: 90%;
    z-index: 0;
  }

  .landing-text .upper-text{
    font-size: 68px;
    left: 22%;
  }
  .landing-text h1{
    top:30%;
    left: 12%;
    font-size: 68px;
  }
  .reasons{
    height: 600px;
    padding-top: 50px ;
  }
  .reasons .info-right,.reasons .info-left{
    height: 50%;
  }

  .info-right .info-img{
    float: none;
    width: 100% !important;
    height: 100px;
    top: -60%;
    background-attachment: unset;
  }
  .info-right .text-info{
    width: 100%;
    float: none;
    height: 50%;
    position: relative;
    top: 20%;
    border:none;
    font-size: 10px;
  }

  .info-left .info-img{
    float: none;
    width: 100% !important;
    height: 100px;
    left: 0%;
    top: -60%;
    background-attachment: unset;
  }
  .info-left .text-info{
    width: 100%;
    float: none;
    height: 50%;
    position: relative;
    top: 20%;
    border:none;
  }

  .info-left .text-info p{
    font-size: 13px;
  }

  .info-right .text-info p{
    font-size: 13px;
  }

  .text-info h3{
    margin: 0;
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 36px;
    font-family: 'Raskhal', cursive;
  }
  
  .text-info p{
    position: relative;
    font-size: 15px;
    top: 30%;
    text-align: center;
    margin:0;
    font-family: "Marker", sans-serif;  
  }


  footer{
    height: 1000px !important;
  }

   footer .panel{
    width: 100%;
    position: relative;
    
  }
   footer .span12{
    float: none;
    top:0%;
    left: 0%;
    z-index: -2;
    width: 100%;
    height: 600px;
  
  }
   footer .span3{
    width: 100%;
    top:25%;
    height: 50px;
    position: relative;
    bottom: 0;
  
  }
  footer .foot-nav li{
    text-align: left;
    list-style: none;
    display: inline;
    padding-right: 20px;
  
  }
  
  .bot-bord{
    border:none;
  }
  footer .foot-nav{
    margin-top: 25px;
  }
  
  .foot-nav a{
    text-decoration: none;
    color: white;
    font-family: "Marker", sans-serif;
  }
  
  .article-list{
    position: relative;
    width:100%;
    padding: 0;
    float: left;
    height: 500px;
    text-align: center;
    color: white;
    float: none;
    text-align: center;
  }
  .article-list li{
    list-style: none;
    text-align: left;
    background-color: #111;
    font-family: "Marker", sans-serif;
    position: relative;
    color: white;
    margin-top: 20px;
  }
  .article-list p{
    margin: 0;
  
  }
  
  .article-list img{
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
    padding-right: 5px;
  }
  
  .info-list{
    width: 100%;
    right:0;
    height: auto;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 50px;
  }
  
  .legal-links{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }
  
  .social-links{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }
  
  .company-info{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }

  .copyright{
    text-align: center;
  }
  
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 525px) {
  .article-list p{
    font-size: 12px;
  }
  .info-list{
    font-size: 12px;
  }

  .landing-img-container{
    display: none;
  }

  .embla__container {
    display: flex;
    width: 100%;
  }


  .embla2 .embla__slide {
    flex: 0 0 50%;
    height: 150px;
    margin-left: 5px;
  }
  
  .landing-strip{
    width: 100%;
  }

  .landing-text .upper-text{
    font-size: 3rem;
    left: 10%;
  }
  .landing-text h1{
    top:30%;
    left: 25%;
    font-size: 2rem;
  }
  .reasons{
    height: 700px;
    padding-top: 50px;
  }
  .reasons .info-right,.reasons .info-left{
    height: 50%;
  }

  .info-right .text-info h3{
    font-size: 20px;
  }

  .info-right .text-info{
    font-size: 10px;
  }
  .info-left .text-info{
    font-size: 10px;
  }

  .info-left .text-info h3{
    font-size: 20px;
  }

  .info-left .text-info p{
    font-size: 13px;
  }

  .info-right .text-info p{
    font-size: 13px;
  }

  .info-left{
    margin-top: 50px;
  }

  footer{
    height: 1000px !important;
  }

   footer .panel{
    width: 100%;
    position: relative;
    
  }
   footer .span3{
    width: 100%;
    top:25%;
    height: 50px;
    position: relative;
    bottom: 0;
  
  }
  footer .foot-nav li{
    text-align: left;
    list-style: none;
    display: inline;
    padding-right: 20px;
  
  }
  
  .bot-bord{
    border:none;
  }
  footer .foot-nav{
    margin-top: 25px;
  }
  
  .foot-nav a{
    text-decoration: none;
    color: white;
    font-family: "Marker", sans-serif;
  }
  
  .article-list{
    position: relative;
    width:100%;
    float: left;
    text-align: left;
    color: white;
    float: none;
    text-align: center;
  }
  .article-list li{
    list-style: none;
    text-align: left;
    background-color: #111;
    font-family: "Marker", sans-serif;
    position: relative;
    color: white;
  }

  .article-list p{
    margin: 0;
  }
  
  .article-list img{
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
    padding-right: 5px;
  }
  
  .info-list{
    width: 100%;
    height: auto;
    text-align: left;
    position: relative;
    text-align: center;
    color: white;
    float: none;
    border-top: 1px solid white;

  }
  
  .legal-links{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }
  
  .social-links{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }
  
  .company-info{
    margin-bottom: 5%;
    list-style: none;
    position: relative;
    left: 0%;
  }
} 